
/*选中阴影显示*/
.card::before {
	content: '';
	position: absolute;
	top: -7px;
	left: -7px;
	height: 100%;
	width: 100%;
	/* border-image-source: url('assets/image/card_select.png');
	border-image-slice: 8 7 7 8;
	border-style: solid;
	border-image-width: 8px 7px 7px 8px;
	border-width: 7px; */
	box-shadow: none;
	/* border-radius: inherit; */
	opacity: 0;
	transition: opacity 0.3s linear;
	z-index: 0;
}

.card::after {
	display: none;
	
	
}

.card.selected::before {
	opacity: 1;
}


#arena>.card.thrown {
	z-index: 5;
}

#arena>.card.thrown.gainingcard,
#arena>.card.thrown.drawingcard {
	z-index: 6;
}

.card>.animation {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: black;
	font-size: 100px;
	font-family: 'xingkai';
	font-display: swap;
	text-align: center;
	text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
	opacity: 0;
	pointer-events: none;
}

.card>.animation[data-nature='fire'] {
	text-shadow: 0 0 4px #FFF, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 10px #f80, 2px -25px 20px #f20;
}

.card>.animation[data-nature='thunder']::before {
	content:'';
	display: block;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 30px);
	width: 100px;
  	height: 60px;
	text-shadow: 0 0 10px white !important;
  	background: linear-gradient(to bottom, white, rgba(100,100,255,1) 15%, white 30%, rgba(100,100,255,1) 50%, white 70%, rgba(100,100,255,1) 85%, white);
  	clip-path: polygon(100% 0, 20% 50%, 37% 60%, 0 100%, 80% 50%, 63% 40%);
  	-webkit-clip-path: polygon(100% 0, 20% 50%, 37% 60%, 0 100%, 80% 50%, 63% 40%);
	transform: scale(1.5);
	z-index: -1;
	pointer-events: none;
}

.card>.animation-player {
	display: block;
	position: absolute;
	left: -120%;
	top: -70%;
	width: 340%;
	height: 240%;
	transition: none;
	pointer-events: none;
	z-index: 8;
}

/*出牌来源提示*/
.card>.used-info {
	opacity: 0;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	/* background-color: rgba(0, 0, 0, 0.4); */
	background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.1) 100%);
	color: rgb(255, 255, 200);
	font-size: 17px;
	width: 100%;
	height: 33%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	font-family: 'STHeiti', 'SimHei', 'Microsoft JhengHei', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Helvetica,Arial, sans-serif !important;
	z-index: 4;
}

.card.thrown:not(.drawingcard):not(.movingcard)>.used-info:not(:empty) {
	opacity: 1;
}

/*卡牌转换提示，标记 ，拿牌提示*/
/*卡牌标记类*/
.card>.gaintag.info,
.card.button>.gaintag.info {
	position: absolute;
	--w: 66px;
	--h: calc(var(--w) * 50/104);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left: -2px;
	top: calc(50% - 12px);
	right: 4px; 
	color: #FEF2F2;
	font-size: 17px;
	/*font-weight: bold;*/
	font-family: shousha;
	line-height: 24px;
	text-align: center;
	text-shadow:-1.7px 0px 3px #A01358, 0px -1.7px 3px #A01358, 1.7px 0px 3px #A01358 ,0px 1.7px 3px #A01358;
	white-space: nowrap;
	background-image: url("image/vcard/biaoji.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);
	border-radius: 2px;
	border: 1px solid black;*/
	pointer-events: none;
	z-index: 2;
}

/*拿牌提示*/
.card.button>.gaintag.info {
	position: absolute;
	--w: 106px;
	--h: calc(var(--w) * 63/212);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left: 1px;
	top: calc(50% - 12px);
	right: 4px; 
	color:black;
	font-size:20px;
	line-height: 24px;
	font-family: shousha;
	white-space: nowrap;
	text-shadow:none;
	background-image: url("image/vcard/biaojiXX.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

.card>.gaintag.info:empty,
.card.button>.gaintag.info:empty {
	display: none;
}

/*卡名辅助显示及控制*/
/*在卡牌上额外显示卡牌名，牌多的时候便于查看手牌。*/
.card>.name,
.card.fullskin>.name,
.card.fullskin>.name.long,
.dialog .buttons>.card>.name.long {
	top: auto;
	bottom: 5px;
	line-height: 16px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	font-family: shousha;
	text-shadow: 0 0 1px white, 0 0 3px white;
	border: 1px solid black;
	border-radius: 0px;
	z-index: 1;
}

.card.decade-card:not(*[data-card-type='basic'])>.name {
	bottom: 20px;
}

#window[data-card-alternate-name-visible='off'] .card>.name,
#window[data-card-alternate-name-visible='off'] .card>.range:not(.card-tag) {
	display: none;
}


/****** 转换牌显示 ******/
/*视为类卡牌，锁定技之类的*/
/*
.card>.temp-name {
	position: absolute;
	--w: 106px;
	--h: calc(var(--w) * 39/164);
	width: var(--w);
	height: var(--h);
	left: 1px;
	top: calc(50% - 8px);
	right: 4px; 
	color:black;
	font-size:20px;
	line-height: 25px;
	text-align: center;
	font-family: yuanli;
	white-space: nowrap;
	text-shadow:none;
	background-image: url("image/vxcard/UI.png");
	background-size:100% 100%;
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}*/

/****** 转换牌显示 ******/
/*视为类卡牌，锁定技之类的*/
.card>.temp-name {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	font-size:0px;
	background-size:100% 100%;
	z-index: 0;
}

/*卡牌在手转化显示*/
.card>.temp-handCard {
	position: absolute;
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left: 1px;
	top: calc(50% - 20px);
	right: 4px; 
	color:black;
	font-size:21px;
	line-height: 35px;/*文字行高，越大越往下*/
	text-align: center;
	font-family: HYZLSJ;
	white-space: nowrap;
	text-shadow:-1.7px 0px 3px #E3E0CF, 0px -1.7px 3px #E3E0CF, 1.7px 0px 3px #E3E0CF ,0px 1.7px 3px #E3E0CF;
	background-image: url("image/vcard/shousha.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 0;
}

/*视为类卡牌，专属*/
/*杀*/
.card>.temp-handCard[data-name='sha'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xnone.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*桃*/
.card>.temp-handCard[data-name='tao'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/tao.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*酒*/
.card>.temp-handCard[data-name='jiu'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/jiu.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*闪*/
.card>.temp-handCard[data-name='shan'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/shan.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}


/*火杀*/
.card>.temp-handCard[data-nature='fire'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xfire.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*雷杀*/
.card>.temp-handCard[data-nature='thunder'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xthunder.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*冰杀*/
.card>.temp-handCard[data-nature='ice'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xice.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*刺杀*/
.card>.temp-handCard[data-nature='stab'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-20px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xstab.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

/*神杀*/
.card>.temp-handCard[data-nature='kami'] {
	--w: 106px;
	--h: calc(var(--w) * 50/146);/*高和长*/
	width: var(--w);/*按比例调节*/
	height: var(--h);/*同理*/
	left:1px;
	top:calc(50%-60px);
	color: none;
	font-size:0px;
	text-shadow: none;
	background-image: url("image/vcard/Xkami.png");
	background-size:100% 100%;
	/*background: rgba(228, 207, 166, 0.8);*/
	border-radius: 0px;
	pointer-events: none;
	z-index: 2;
}

.card>.temp-handCard:empty {
	display: none;
}

.card>.temp-name:empty {
	display: none;
}